<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage List - Demo Application</title>
    <link rel="stylesheet" th:href="@{/css/stylesEdit.css}">
</head>
<body>
<header>
    <div class="header-left">
        <span id="username" th:text="${username}">bib/username</span>
    </div>
    <div class="header-right">
        <a href="/user/home" class="header-link" id="edit-button">Home</a>
        <a href="/logout" class="header-link" id="logout-button">Logout</a>
    </div>
</header>
<div class="container">
    <h2>Manage Your List</h2>
    <form id="item-form">
        <button type="submit">Add</button>
    </form>

    <form id="list" th:action="@{/user/edit}" method="post">
        <ul id="item-list">
            <li th:each="isbn : ${isbnList}">
                <input type="text" name="isbn" th:value="${isbn}">
                <button class="delete-button">Delete</button>
            </li>
        </ul>
        <button type="submit">SUBMIT</button>
    </form>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        const form = document.getElementById('item-form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            addItem();
        });

        list.addEventListener('click', function(event) {
            if (event.target.classList.contains('delete-button')) {
                removeItem(event.target.parentElement);
            }
        });

        function addItem() {
            const list = document.getElementById('item-list');
            var cIndex = list.childElementCount;
            const li = document.createElement('li');
            li.innerHTML = `
                <input type="text" name="isbn">
                <button class="delete-button">Delete</button>
            `
            list.appendChild(li);
        }

        function removeItem(item) {
            list.removeChild(item);
        }
    });
</script>
</body>
</html>
